# Ignore env files
backend/.env
# Node modules
**/node_modules/

# Environment variables
**/.env

# Logs
**/logs/
**/*.log

# OS/system files
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/

# Ignore node_modules in both frontend and backend
frontend/node_modules/
backend/node_modules/
